{% extends 'base.html.twig' %}

{% block body %}

   <article>
            <div class="SousTitres">
            <h1>{{article.titre}}</h1>
            </div>

            <div class="metadata">
            <p>Ecrit le {{article.date | date('d/m/Y')}} à {{ article.date | date('H:i')}} dans la categories cool</p>
            </div>
            <div class ="content">
            <img src="{{article.image}}" alt="Smiley face" >
            </div>

            <div class="Articles">
            {{article.article | raw}}
            </div>

        </article>

{% endblock body %}